.sticky-NavBar {
    position: sticky;
    top: 0;
    z-index: 2000;
}

.borderScheme {
    --border-width: 1px;
    --border-color: rgba(0, 0, 0, 0.175);
    --border-radius: 0.375rem;
    border: var(--border-width) solid var(--border-color);
    border-radius: var(--border-radius);
}

.borderSchemeMap {
    --border-width: 1px;
    --border-color: rgba(0, 0, 0, 0.175);
    --border-radius: 0.375rem;
    border: var(--border-width) solid var(--border-color);
    border-radius: var(--border-radius);
    padding: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.borderSchemeRightBottom {
    --border-width: 1px;
    --border-color: rgba(0, 0, 0, 0.175);
    --border-radius: 0.375rem;
    border-right: var(--border-width) solid var(--border-color);
    border-bottom: var(--border-width) solid var(--border-color);
    border-radius: var(--border-radius);
}

.hover {
    background-color: white;
}

.hover:hover {
    cursor: pointer;
    background-color: lightgray;
}

.scrollbar {
    width: 33vh;
    height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
}