<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <title>Login</title>
</head>

<body>

    <div layout:fragment="content">
        <section class="my-5">
            <h2 class="text-center mt-5">Über uns</h2>
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <p class="lead">Erfahre mehr über CityCare und unsere Mission, Städte sicherer und lebenswerter zu
                        machen.</p>
                </div>
            </div>
        </section>
    </div>

</body>

</html>