<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <title>Login</title>
</head>

<body>

    <div layout:fragment="content">
        <section class="my-5">
            <h2 class="text-center mt-5">Kontakt</h2>
            <div class="row justify-content-center me-0">
                <div class="col-lg-8">
                    <p class="row justify-content-center">Kontaktiere uns bei Fragen, Feedback oder Anregungen. Unser Support-Team steht
                        dir gerne
                        zur Verfügung.</p>
                    <!-- Add contact information and form -->
                </div>
            </div>
        </section>
    </div>

</body>

</html>