<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <title>Login</title>
</head>

<body>

    <div layout:fragment="content">
        <section class="my-5">
            <h1>Login</h1>
            <form role="form" method="post" th:action="@{/loginWebsite}" th:object="${LoginDataDTO}">
                <div class="pb-3" style="display: flex; justify-content: center;">
                    <div class="col-md-6" style="width: 100%;">
                        <label for="username">Benutzername</label>
                        <input type="text" class="form-control" id="username" name="username" th:field="*{username}"
                            placeholder="Benutzername">
                    </div>
                </div>
                <div class="pb-3" style="display: flex; justify-content: center;">
                    <div class="col-md-6" style="width: 100%;">
                        <label for="password">Passwort</label>
                        <input type="password" class="form-control" id="password" name="password" th:field="*{password}"
                            placeholder="Passwort">
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Login</button>
            </form>
        </section>
    </div>

</body>

</html>