<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <title>Login</title>
    <style>
        .bordered-table {
            border: 1px solid black;
            border-collapse: collapse;
        }

        .bordered-table th,
        .bordered-table td {
            border: 1px solid black;
        }
    </style>
    <script>
        function openGoogleMaps(button) {
            var latitude = button.getAttribute('data-latitude');
            var longitude = button.getAttribute('data-longitude');
            window.open('https://www.google.com/maps/search/?api=1&query=' + latitude + ',' + longitude, '_blank');
        }
    </script>
</head>

<body>

    <div layout:fragment="content">
        <section class="my-5">
            <div class="row justify-content-center">
                <form role="form" method="get" th:action="@{/mainWebsite/{id}(id=1)}" th:object="${MainCategories}">
                    <h2 class="text-center mt-5">Getätigte Meldungen</h2>
                    <div class="row justify-content-center me-0">
                        <div class="col-lg-8">
                            <p class="row justify-content-center">Hier kannst du deine getätigten Meldungen einsehen und den
                                Bearbeitungsstatus
                                verfolgen.</p>
                            <!-- Table to display the reported issues -->
                            <table class="table bordered-table">
                                <thead>
                                    <tr>
                                        <th>Meldungsnummer</th>
                                        <th>Status</th>
                                        <th>Icon</th>
                                        <th>Timestamp</th>
                                        <th>Image</th>
                                        <th>Longitude</th>
                                        <th>Latitude</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="report : ${Reports}">
                                        <td th:text="${report.titleOrsubcategoryName}"></td>
                                        <td>Status noch nicht vorhanden</td>
                                        <td>
                                            <img th:src="'data:image/jpeg;base64,' + ${#strings.toString(report.icon)}"
                                                alt="Kein Icon vorhanden" style="max-width: 200px; max-height: 200px;">
                                        </td>
                                        <td th:text="${report.timestamp}"></td>
                                        <td>
                                            <img th:src="'data:image/jpeg;base64,' + ${#strings.toString(report.image)}"
                                                alt="Kein Bild vorhanden" style="max-width: 200px; max-height: 200px;">
                                        </td>
                                        <td th:text="${report.longitude}"></td>
                                        <td th:text="${report.latitude}"></td>
                                        <td>
                                            <button type="button"
                                                data-th-attr="data-latitude=${report.latitude}, data-longitude=${report.longitude}"
                                                onclick="openGoogleMaps(this)">Open in Google Maps</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </div>

</body>

</html>