<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <title>Login</title>
</head>

<body>

    <div layout:fragment="content">
        <section class="my-5">
            <h2 class="text-center mt-5">Dienstleistungen</h2>
            <div class="row justify-content-center me-0">
                <div class="col-lg-8">
                    <p class="row justify-content-center">Entdecke die Dienstleistungen, die CityCare bietet, um Probleme in deiner Stadt
                        zu
                        melden und zu verfolgen.</p>
                    <!-- Add content about your services -->
                </div>
            </div>
        </section>
    </div>

</body>

</html>