<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <title>Status</title>
</head>

<body>

    <div layout:fragment="content">
        <section class="my-5">
            <div class="container px-4 px-lg-5">
                <h2 class="text-center mt-5">Status</h2>
                <div class="end">
                    <button id="addStatusButton" class="icon-button"><img src="images/plusIcon.png" alt="Icon"></button>
                </div>
            </div>

            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 mx-0 mt-3 pt-3 borderSchemeContainer" style="height: 70vh;">
                    <div id="statusContainer" class="col-md-12 px-3 scrollbar" style="height: 95%">
                        <div th:if="${Status} == null">
                            <p>Es wurden derzeit noch keine Status angelegt!</p>
                        </div>
                        <div th:id="'status_' + ${state.index + 1}" class="borderScheme hover mb-3"
                            th:each="status, state : ${Status}">
                            <div th:id="'index_status_' + ${state.index + 1}" th:text="${state.index + 1}"
                                class="borderSchemeRightBottom p-0 center" style="height: 100%; width: 30px;">
                            </div>
                            <p th:text="${status.getName}" class="center">
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <script>
                document.getElementById('addStatusButton').addEventListener('click', function () {
                    changeDivIds();

                    // Neues Div erstellen
                    var newDiv = document.createElement('div');
                    newDiv.id = 'status_1';
                    newDiv.className = 'borderScheme hover mb-3';
                    newDiv.style.minHeight = '60px';

                    // Neuen Inhalt für das Div hinzufügen
                    var newContent = document.createTextNode('1');
                    var innerDiv = document.createElement('div');
                    innerDiv.appendChild(newContent);
                    innerDiv.id = 'index_status_1';
                    innerDiv.className = 'borderSchemeRightBottom p-0 center';
                    innerDiv.style.height = '100%';
                    innerDiv.style.width = '30px';
                    newDiv.appendChild(innerDiv);

                    // Das neue Div zum #status-Container hinzufügen
                    var statusContainer = document.getElementById('statusContainer');
                    statusContainer.insertBefore(newDiv, statusContainer.firstChild);
                });

                function changeDivIds() {
                    // Alle Divs finden, die mit der ID 'status_' beginnen
                    var status = document.querySelectorAll('[id^="status_"]');
                    var count = status.length;

                    for (var i = 0; i < count; i++) {
                        var borderDiv = status[i];
                        var index = i + 2;
                        borderDiv.id = 'status_' + index;
                    }

                    // Aktualisierung der index_status_ IDs
                    var indexStatus = document.querySelectorAll('[id^="index_status_"]');
                    var indexCount = indexStatus.length;

                    for (var j = 0; j < indexCount; j++) {
                        var indexDiv = indexStatus[j];
                        var newIndex = j + 2;
                        indexDiv.id = 'index_status_' + newIndex;
                        indexDiv.textContent = newIndex;
                    }
                }

            </script>
        </section>
    </div>

</body>

</html>