<p>&nbsp;</p>
<figure class="table" style="width: 63.64%">
  <table class="ck-table-resized">
    <colgroup>
      <col style="width: 50%" />
      <col style="width: 50%" />
    </colgroup>
    <tbody>
      <tr>
        <td>
          <h1 style="color: #2c6e49">
            Hi
            <strong th:text="${username}"></strong>!<br /><br />Der Status
            deiner Meldung hat sich geändert:
          </h1>
        </td>
        <td>
          <figure class="image image_resized">
            <img
              style="aspect-ratio: 349/369"
              src="https://storage.googleapis.com/citycare-images/Logo_OW.webp"
              alt="Bild"
              width="80%"
            />
          </figure>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <p>&nbsp;</p>
          <p>
            Deine Meldung <strong th:text="${reportTitle}"></strong> vom
            <strong th:text="${date}"></strong> hat jetzt den Status
            <strong th:text="${status}"></strong>
          </p>
          <p>&nbsp;</p>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <a th:href="${weblink}">
            <img th:src="'data:image/png;base64,' + ${image}" />
          </a>
        </td>
      </tr>
      <tr>
        <td style="background-color: #2c6e49; text-align: center" colspan="2">
          <br /><a th:href="${weblink}" style="color: white">Zur Website</a
          ><br /><br />
        </td>
      </tr>
    </tbody>
  </table>
</figure>
<h1>&nbsp;</h1>
